@tailwind base;
@tailwind components;
@tailwind utilities;


.Header{
    width: 100%;
    height: 81px;
    margin: auto;
    padding:2px 0px;
    

  }
  img{
    width: 78px;
    height: 78px;
    z-index: -0;
  }
  .top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    height: 80px;
    border-bottom: 3px solid black;
  }
  .logoimg{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 32px;
  }
  
  .headerSearch{
    width: 480px;
    height: 60px;
    border: 1px solid #3bb77e; 
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }
  .Header .headerSearch .search{
    width: 70%;
  
  }
 
  .Header .headerSearch .search input{
    width: 100%;
    height: 50px;
    border: 0px;
    outline: none !important;
  }
  .contents ul  {
    font-size: 20;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 400px;
    font-weight: 400;


  }